:root {
    --img-width: 300px;
    --img-height: 200px;
}

.main {
    height:75%;
    display: flex;
    flex-direction: column;
}

.article-container {
    margin-top: 20px;
    flex-grow: 1;
}

.categories-grid {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;

}

.category-place {
    display: flex;
    justify-content: center;
    background-color: #ffffff10;
    flex-wrap: wrap;
    flex-grow: 1;
}

.category-place:hover {
    background-color: #ffffff4b;
}

.category-get-button {
    background-color: transparent;
    border: 0;
    color: inherit;
    font-family: inherit;
    font-size: 15px;
    padding: 15px;
    width: 100%;
}


a {
    text-decoration: none;
    outline: none;
    color: inherit;
}

.product-card {
    width: 30%;
    height: 100%;
    min-width: var(--img-width);
    background-color: rgba(114, 108, 108, 0.329);
    margin: 0 24px;

}

@media (orientation:landscape) and (max-width: 620px) {
    .categories-grid {
        margin-top: 140px;
    }
}

@media (orientation:portrait) {
    .categories-grid {
        margin-top: 140px;
    }
}