@font-face {
  font-family: "CaviarDreams";
  src: url(../fonts/CaviarDreams/CaviarDreams.ttf);
}

@font-face {
  font-family: "trebuchetms";
  src: url(../fonts/TrebuchetMS/trebuchetms.ttf);
}

html, body {
  
  margin: 0;
  padding: 0;
}

body {
  background-color: #1c1c1d;
  background-image: url(../images/monoback-vertical.jpg);
  background-repeat: repeat;
  background-size: cover;
  background-origin: border-box;
  height: 100vh;
}