@font-face {
    font-family: "CaviarDreams";
    src: url(fonts/CaviarDreams/CaviarDreams.ttf);
}

@font-face {
    font-family: "trebuchetms";
    src: url(fonts/Trebuchet\ MS/trebuchetms.ttf);
}

/*------ WIDTH 1600-------*/

@media (orientation:landscape), (max-width: 1600px) {
    .main {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        margin-top: 30px;
    }

    .border-table {
        padding: 0 40px;
    }

    /*ОСНОВНОЙ КОНТЕЙНЕР*/
    div.content-container {
        display: flex;
        margin: 15px 10vw 15px;
    }

    /*КАРТИНКА*/
    div.image-food img {
        height: 550px;
        align-self: center;
    }

    /*СТИЛИ ТЕКСТА*/

    /*ТЕКСТОВЫЙ КОНТЕЙНЕР С КНОПКОЙ*/
    div.text-container {
        color: white;
        display: flex;
        flex-direction: column;
        padding-left: 70px;
        padding-top: 70px;
    }

    div.col-text {

        /*font*/
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 20px;
        font-family: "CaviarDreams";
    }

    p.info-text {
        padding: 0;
        margin-top: 0;
    }

    /*КОНТЕЙНЕР КНОПКИ*/
    div.button-container {
        /*positions*/
        display: flex;
        justify-content: center;

        margin-top: 60px;

        /*size*/
        width: 100%;
        height: 100%;
    }

    /*СТИЛИ КНОПКИ СВЯЗАТЬСЯ!*/
    div.button button {
        background-color: rgba(0, 0, 0, 0);
        color: #e4e3e3;

        /*font*/
        font-family: "CaviarDreams";
        letter-spacing: 2px;
        font-size: 10px;

        /*positions*/
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 0;

        /*size*/
        width: 150px;
        height: 40px;

        /*border*/
        border: 1px solid #fff;
        border-radius: 10px;
        box-shadow: 0px 0px 7px#fff;

        /*fx-movement*/
        transition: box-shadow, 0.4s linear;
        transition: border, 0.4s linear;
        cursor: pointer;
    }

    div.button button:hover {
        box-shadow: 0px 0px 6px goldenrod;
        border: 1px solid goldenrod;
    }
}

@media (orientation:landscape) and (max-width: 1220px) {
    /*Сделать отступ для навигационной панели*/
 
    
    /*Выровнять контейнеры в столбик для мобильных устройств*/
    div.content-container {
        margin: 0;
        
        display: flex;
        flex-direction: column;

        width: 80vw;
    }

    div.image-food {
        display: flex;
        justify-content: center;
    }

    /*установить картинку по размеру контейнера*/
    div.image-food img {
        max-width: 100%;
        height: auto;
    }

    /*Убрать у текста лишние отступы*/
    div.text-container {
        padding: 3vh 5vw;
    }
}

@media (orientation:portrait) {
    /*Сделать отступ для навигационной панели*/
    main.main {
        margin-top: 150px;
    }
    
    /*Выровнять контейнеры в столбик для мобильных устройств*/
    div.content-container {
        margin: 0;
        
        display: flex;
        flex-direction: column;

        width: 80vw;
    }

    /*установить картинку по размеру контейнера*/
    div.image-food img {
        max-width: 100%;
        height: auto;
    }

    /*Убрать у текста лишние отступы*/
    div.text-container {
        padding: 3vh 5vw;
    }
}