<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/background.css') }}" type="text/css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/head.css') }}" type="text/css" />
  {% block ico_style%}{% endblock %}
  {% block body_style %}{% endblock %}
  <title>{% block title %}{% endblock %}</title>
</head>

<body>
  <div class="background">
    <header class="header">
      <!--ЛЕВАЯ ЛИНИЯ-->

      <div class="header-line-90-left"></div>
      <!--ЛОГОТИП-->
      <a href="/">
        <div class="logo-img">
          <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Эстетика вкусов" />
        </div>
      </a>
      <!--ПРАВАЯ ЛИНИЯ-->
      <div class="header-line-270-right">
        <nav>
          <!--Меню-->
          <div class="menu"><a href="{{url_for('menu_page', type='hot-food')}}"></a></div>
          <a href="{{url_for('menu_page', type='hot-food')}}">
            <img class="menu-img" src="{{ url_for('static', filename='images/ico/hot-food.png') }}" alt="Горячие блюда" />
          </a>
          <!--Полуфабрикаты-->
          <div class="freeze"><a href="{{url_for('menu_page', type='freeze-food')}}"></a></div>
          <a href="{{url_for('menu_page', type='freeze-food')}}">
            <img class="freeze-img" src="{{ url_for('static', filename='images/ico/freeze.png') }}" alt="" />
          </a>
          <!--Кейтеринг-->
          <div class="keitering"><a href="/keitering"></a></div>
          <a href="/keitering">
            <img class="keitering-img" src="{{ url_for('static', filename='images/ico/keitering.png')}}" alt="" />
          </a>
          <!--Контакты-->
          <div class="contacts"><a href="/contacts"></a></div>
          <a href="/contacts">
            <img class="contacts-img" src="{{ url_for('static', filename='images/ico/mail.png')}}" alt="" />
          </a>
          <!--Корзина-->
          <a class="bucket-a" href="/bucket">
            <img class="bucket" src="{{ url_for('static', filename='images/ico/shopping-ico.png')}}" alt="" />
          </a>
        </nav>
      </div>
    </header>
    <!--header-->
    <p>{% block flash %}{% endblock %}</p>
    <main class="main">{% block main %}{% endblock %}</main>
  </div>
  <!--background-->
</body>

</html>