{% extends "basic/headfoot.html" %}

{% block body_style %}
<link rel="stylesheet" href="static/css/card-style.css" type="text/css" />
<link rel="stylesheet" href="static/css/modal-window.css" type="text/css" />
{% endblock %}


{% block main%}
<div class="border-table">
  {% if products %}

    {% for category in categories %}
    <div class="article-title ">
      <p>{{ category }}</p>
    </div>
    
    
    <div class="article-container">
      {% for product in products %}
      {% if product.category == category %}
      <article class="product-card">
        <img src="{{ product.image }}" 
        alt="" 
        class="img-product" 
        data-target="modal-1"
        data-id="{{ product.product_id }}">
        <div class="price">
          <p><b>{{ product.price|int }} ₽</b></p>
        </div>
        <div class="product-name">
          <p>{{ product.name }}</p>
        </div>
        <div class="add_button"><button class="add">+ Добавить</button></div>
      </article>
      {% endif %}
      {% endfor %}
    </div>
    {% endfor %}
  {% endif %}
</div>

<!--Модальное окно с подробной информацией о продукте, которое отображается при нажатии на изображение карточки товара-->
<div id="modal-1" class="modal">
  <div class="modal-window">
  <div class="modal-content"></div>
  <button class="close-btn">&times;</button>
  </div>
</div>

<script src="../static/js/productCardModalWindow.js"></script>

{% endblock %}