<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="static/css/index/index.css">
  <title>Эстетика вкусов</title>
</head>

<body>
  <div class="background">
    <main class="main">
      <div class="upper">
        <div class="upper-1">
          <div class="logo-img">
            <img src="static/images/main-page/aesthetics-of-tastes.png" alt="">
          </div>
        </div>
        <div class="upper-2">

        </div>
      </div>
      <div class="main-text">
        <h1 class="trebuchetms">ОТКРОЙ ЭСТЕТИКУ ВАЙНАХСКОЙ КУХНИ</h1>
      </div>
      <div class="div-button">
      <form action="/user/new" method="POST">
        <input type="submit" class="button dream-font" value="Посмотреть меню!">
      </form>
      </div>
    </main>
  </div>
</body>

</html>