{% extends "basic/headfoot.html" %}

{% block body_style %}
<link rel="stylesheet" href="static/css/keitering/keitering-ico-lighting.css" type="text/css" />
<link rel="stylesheet" href="static/css/keitering/keitering-main.css" type="text/css" />
{% endblock %}

{% block title %}Кейтеринг{% endblock %}

{% block main %}
<div class="content-container">
  <div class="image-food">
    <picture>
      <source srcset="static/images/keitering/kejtering.jpg" media="(orientation:portrait)" />
      <source srcset="static/images/keitering/kejtering.jpg" media="(max-width: 1220px)" />
      <img src="static/images/keitering/crop.jpg" alt="" />
    </picture>
  </div>
  <div class="text-container">
    <div class="col-text">
      <p class="info_text">
        "Эстетика вкуса" предлагает кейтеринг на любое мероприятие, где вы
        можете насладиться неповторимым вкусом нашей кухни .
      </p>
      <p class="info_text">
        Мы готовим только из свежих и качественных ингредиентов с использованием
        традиционных рецептов вайнахской кухни. Одной из важных составляющих
        восточных блюд является мука, которую мы используем для ручной лепки
        блюд, таких как пельмени и манты.
        <br />
        <br />
        Наши повара владеют мастерством лепки из теста, чтобы каждое блюдо было
        идеальным.
        <br />
        Благодаря "Эстетике вкуса", каждый гость вашего мероприятия сможет
        насладиться традиционными блюдами восточной кухни.
      </p>
      <p>
        Свяжитесь с нами прямо сейчас и мы обсудим все детали вашего
        мероприятия!
      </p>
    </div>
    <div class="button-container">
      <div class="button">
        <button>СВЯЗАТЬСЯ!</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}