{% extends "basic/headfoot.html" %}

{% block link %}
<link rel="stylesheet" href="static/css/menu/menu-ico-lighting.css" type="text/css" />
<link rel="stylesheet" href="static/css/card-style.css" type="text/css" />
{% endblock %}
{% block title %}Горячие блюда{% endblock %}

{% block main%}
<div class="border-table">
  {% if products %}

    {% for category in categories|unique %}
    <div class="article-title ">
      <p>{{ category }}</p>
    </div>
    
    
    <div class="article-container">
      {% for product in products %}
      {% if product.category == category %}
      <article class="product-card">
        <img src="{{ product.image }}" alt="" class="img-product">
        <div class="price">
          <p><b>{{ product.price|int }} ₽</b></p>
        </div>
        <div class="product-name">
          <p>{{ product.name }}</p>
        </div>
        <div class="add_button"><button class="add">+ Добавить</button></div>
      </article>
      {% endif %}
      {% endfor %}
    </div>
    {% endfor %}
  {% endif %}
</div>
{% endblock %}