{% extends "basic/headfoot.html" %}

{% block link %}
<link rel="stylesheet" href="static/css/menu/menu-ico-lighting.css" type="text/css" />
<link rel="stylesheet" href="static/css/card-style.css" type="text/css" />
{% endblock %}
{% block title %}Горячие блюда{% endblock %}

{% block main%}
<div class="border-table">
  <div class="article-title">
    <p>НАЦИОНАЛЬНАЯ КУХНЯ</p>
  </div>
  <div class="article-container">
    <!--1-->
    <article class="product-card">
      <img src="" alt="" class="img-product">
      <div class="price">
        <p>250 ₽</p>
      </div>
      <div class="product-name">
        <p>Хингал</p>
      </div>
      <div class="add_button"><button class="add">+ Добавить</button></div>
    </article>
    <!--2-->
    <article class="product-card">
      <img src="" alt="" class="img-product">
      <div class="price">
        <p>250 ₽</p>
      </div>
      <div class="product-name">
        <p>Чьепалг</p>
      </div>
      <div class="add_button"><button class="add">+ Добавить</button></div>
    </article>
    <!--3-->
    <article class="product-card">
      <img src="" alt="" class="img-product">
      <div class="price">
        <p>400 ₽</p>
      </div>
      <div class="product-name">
        <p>Далнаш</p>
      </div>
      <div class="add_button"><button class="add">+ Добавить</button></div>
    </article>
    <!--4-->
    <article class="product-card">
      <img src="images/menu/кукурузные галушки.jpg" alt="" class="img-product">
      <div class="price">
        <p>800 ₽</p>
      </div>
      <div class="product-name">
        <p>Галушки</p>
      </div>
      <div class="add_button"><button class="add">+ Добавить</button></div>
    </article>

  </div>

  <div class="article-title ">
    <p>ГОРЯЧИЕ ВТОРЫЕ БЛЮДА</p>
  </div>
  <div class="article-container">
    <article class="product-card">
      <img src="images/menu/голубцы.jpg" alt="" class="img-product">
      <div class="price">
        <p>500 ₽</p>
      </div>
      <div class="product-name">
        <p>Голубцы</p>
      </div>
      <div class="add_button"><button class="add">+ Добавить</button></div>
    </article>

    <article class="product-card">
      <img src="images/menu/перцы.jpg" alt="" class="img-product">
      <div class="price">
        <p>500 ₽</p>
      </div>
      <div class="product-name">
        <p>Перцы фаршированные</p>
      </div>
      <div class="add_button"><button class="add">+ Добавить</button></div>
    </article>

    <article class="product-card">
      <img src="images/menu/котлета из курицы.jpg" alt="" class="img-product">
      <div class="price">
        <p>500 ₽</p>
      </div>
      <div class="product-name">
        <p>Котлета с пюре</p>
      </div>
      <div class="add_button"><button class="add">+ Добавить</button></div>
    </article>

    <article class="product-card">
      <img src="images/menu/зраза с сыром.jpg" alt="" class="img-product">
      <div class="price">
        <p>200 ₽</p>
      </div>
      <div class="product-name">
        <p>Зраза куриная с сыром</p>
      </div>
      <div class="add_button"><button class="add">+ Добавить</button></div>
    </article>

    <article class="product-card">
      <img src="images/menu/" alt="" class="img-product">
      <div class="price">
        <p>250 ₽</p>
      </div>
      <div class="product-name">
        <p>Зраза куриная с грибами</p>
      </div>
      <div class="add_button"><button class="add">+ Добавить</button></div>
    </article>

    <article class="product-card">
      <img src="images/menu/" alt="" class="img-product">
      <div class="price">
        <p>2000 ₽</p>
      </div>
      <div class="product-name">
        <p>Плов мясной</p>
      </div>
      <div class="add_button"><button class="add">+ Добавить</button></div>
    </article>

    <article class="product-card">
      <img src="images/menu/" alt="" class="img-product">
      <div class="price">
        <p>2500 ₽</p>
      </div>
      <div class="product-name">
        <p>Плов сладкий</p>
      </div>
      <div class="add_button"><button class="add">+ Добавить</button></div>
    </article>

    <article class="product-card">
      <img src="images/menu/" alt="" class="img-product">
      <div class="price">
        <p>1200 ₽</p>
      </div>
      <div class="product-name">
        <p>Cтейк лосося с овощами</p>
      </div>
      <div class="add_button"><button class="add">+ Добавить</button></div>
    </article>

    <article class="product-card">
      <img src="images/menu/хинкали.jpg" alt="" class="img-product">
      <div class="price">
        <p>1000 ₽</p>
      </div>
      <div class="product-name">
        <p>Хинкали 10шт.</p>
      </div>
      <div class="add_button"><button class="add">+ Добавить</button></div>
    </article>

    <article class="product-card">
      <img src="images/menu/манты.jpg" alt="" class="img-product">
      <div class="price">
        <p>700 ₽</p>
      </div>
      <div class="product-name">
        <p>Манты 10шт.</p>
      </div>
      <div class="add_button"><button class="add">+ Добавить</button></div>
    </article>

    <article class="product-card">
      <img src="images/menu/" alt="" class="img-product">
      <div class="price">
        <p>900 ₽</p>
      </div>
      <div class="product-name">
        <p>Манты с рублёным мясом 10шт.</p>
      </div>
      <div class="add_button"><button class="add">+ Добавить</button></div>
    </article>

    <article class="product-card">
      <img src="images/menu/пельмени.jpg" alt="" class="img-product">
      <div class="price">
        <p>500 ₽</p>
      </div>
      <div class="product-name">
        <p>Пельмени 300гр.</p>
      </div>
      <div class="add_button"><button class="add">+ Добавить</button></div>
    </article>

    <article class="product-card">
      <img src="images/menu/вареники с вишней.jpg" alt="" class="img-product">
      <div class="price">
        <p>500 ₽</p>
      </div>
      <div class="product-name">
        <p>Вареники 300гр.</p>
      </div>
      <div class="add_button"><button class="add">+ Добавить</button></div>
    </article>

    <article class="product-card">
      <img src="images/menu/сырники.jpg" alt="" class="img-product">
      <div class="price">
        <p>500 ₽</p>
      </div>
      <div class="product-name">
        <p>Сырники</p>
      </div>
      <div class="add_button"><button class="add">+ Добавить</button></div>
    </article>
  </div>

  <div class="article-title ">
    <p>ПЕРВЫЕ БЛЮДА</p>
  </div>
  <div class="article-container">
    <article class="product-card">
      <img src="" alt="" class="img-product">
      <div class="price">
        <p>500 ₽</p>
      </div>
      <div class="product-name">
        <p>Куриный суп с лапшой</p>
      </div>
      <div class="add_button"><button class="add">+ Добавить</button></div>
    </article>

    <article class="product-card">
      <img src="" alt="" class="img-product">
      <div class="price">
        <p>500 ₽</p>
      </div>
      <div class="product-name">
        <p> Борщ с мясом</p>
      </div>
      <div class="add_button"><button class="add">+ Добавить</button></div>
    </article>

    <article class="product-card">
      <img src="" alt="" class="img-product">
      <div class="price">
        <p>500 ₽</p>
      </div>
      <div class="product-name">
        <p>Суп с фрикадельками </p>
      </div>
      <div class="add_button"><button class="add">+ Добавить</button></div>
    </article>

    <article class="product-card">
      <img src="" alt="" class="img-product">
      <div class="price">
        <p>600 ₽</p>
      </div>
      <div class="product-name">
        <p>Нохри чоьрп</p>
      </div>
      <div class="add_button"><button class="add">+ Добавить</button></div>
    </article>

    <article class="product-card">
      <img src="" alt="" class="img-product">
      <div class="price">
        <p>500 ₽</p>
      </div>
      <div class="product-name">
        <p>Лагман</p>
      </div>
      <div class="add_button"><button class="add">+ Добавить</button></div>
    </article>

    <article class="product-card">
      <img src="" alt="" class="img-product">
      <div class="price">
        <p>500 ₽</p>
      </div>
      <div class="product-name">
        <p>Гуляш</p>
      </div>
      <div class="add_button"><button class="add">+ Добавить</button></div>
    </article>

    <article class="product-card">
      <img src="" alt="" class="img-product">
      <div class="price">
        <p>300 ₽</p>
      </div>
      <div class="product-name">
        <p>Мясной бульон</p>
      </div>
      <div class="add_button"><button class="add">+ Добавить</button></div>
    </article>

    <article class="product-card">
      <img src="" alt="" class="img-product">
      <div class="price">
        <p>1200 ₽</p>
      </div>
      <div class="product-name">
        <p>Куриный бульон</p>
      </div>
      <div class="add_button"><button class="add">+ Добавить</button></div>
    </article>
  </div>

  <div class="article-title ">
    <p>ЗАКУСКИ</p>
  </div>
  <div class="article-container">
    <article class="product-card">
      <img src="" alt="" class="img-product">
      <div class="price">
        <p>1000 ₽</p>
      </div>
      <div class="product-name">
        <p>Блинчики с мясом 10 шт.</p>
      </div>
      <div class="add_button"><button class="add">+ Добавить</button></div>
    </article>

    <article class="product-card">
      <img src="" alt="" class="img-product">
      <div class="price">
        <p>700 ₽</p>
      </div>
      <div class="product-name">
        <p>Блинчики с творогом 10 шт.</p>
      </div>
      <div class="add_button"><button class="add">+ Добавить</button></div>
    </article>

    <article class="product-card">
      <img src="" alt="" class="img-product">
      <div class="price">
        <p>500 ₽</p>
      </div>
      <div class="product-name">
        <p>Блинчики </p>
      </div>
      <div class="add_button"><button class="add">+ Добавить</button></div>
    </article>

    <article class="product-card">
      <img src="" alt="" class="img-product">
      <div class="price">
        <p>1000 ₽</p>
      </div>
      <div class="product-name">
        <p>Рулет из баклажанов 10 шт</p>
      </div>
      <div class="add_button"><button class="add">+ Добавить</button></div>
    </article>

    <article class="product-card">
      <img src="" alt="" class="img-product">
      <div class="price">
        <p>2000 ₽</p>
      </div>
      <div class="product-name">
        <p>Фаршированные шампиньоны</p>
      </div>
      <div class="add_button"><button class="add">+ Добавить</button></div>
    </article>

    <article class="product-card">
      <img src="" alt="" class="img-product">
      <div class="price">
        <p>1000 ₽</p>
      </div>
      <div class="product-name">
        <p>Пхали из свеклы 10 шт.</p>
      </div>
      <div class="add_button"><button class="add">+ Добавить</button></div>
    </article>

    <article class="product-card">
      <img src="" alt="" class="img-product">
      <div class="price">
        <p>1500 ₽</p>
      </div>
      <div class="product-name">
        <p>Пхали из шпината 10 шт.</p>
      </div>
      <div class="add_button"><button class="add">+ Добавить</button></div>
    </article>

    <article class="product-card">
      <img src="" alt="" class="img-product">
      <div class="price">
        <p>1500 ₽</p>
      </div>
      <div class="product-name">
        <p>Пхали из перца 10шт.</p>
      </div>
      <div class="add_button"><button class="add">+ Добавить</button></div>
    </article>

    <article class="product-card">
      <img src="" alt="" class="img-product">
      <div class="price">
        <p>750 ₽</p>
      </div>
      <div class="product-name">
        <p>Холодец</p>
      </div>
      <div class="add_button"><button class="add">+ Добавить</button></div>
    </article>
  </div>

  <div class="article-title ">
    <p>ЛЮБОЙ САЛАТ НА ЗАКАЗ</p>
  </div>
  <div class="article-container">
    <article class="product-card">
      <img src="" alt="" class="img-product">
      <div class="price">
        <p>1300 ₽</p>
      </div>
      <div class="product-name">
        <p>Рубленый салат 1 кг.</p>
      </div>
      <div class="add_button"><button class="add">+ Добавить</button></div>
    </article>

    <article class="product-card">
      <img src="" alt="" class="img-product">
      <div class="price">
        <p>1500 ₽</p>
      </div>
      <div class="product-name">
        <p>Слоёный салат 1 кг.</p>
      </div>
      <div class="add_button"><button class="add">+ Добавить</button></div>
    </article>
  </div>

  <div class="article-title ">
    <p>ГОРЯЧЕЕ НА КОМПАНИЮ</p>
  </div>
  <div class="article-container">
    <article class="product-card">
      <img src="" alt="" class="img-product">
      <div class="price">
        <p>1700 ₽</p>
      </div>
      <div class="product-name">
        <p>Любой вид запеченого мяса 1 кг.</p>
      </div>
      <div class="add_button"><button class="add">+ Добавить</button></div>
    </article>

    <article class="product-card">
      <img src="" alt="" class="img-product">
      <div class="price">
        <p>2000 ₽</p>
      </div>
      <div class="product-name">
        <p>Отварная баранья голова и ноги</p>
      </div>
      <div class="add_button"><button class="add">+ Добавить</button></div>
    </article>

    <article class="product-card">
      <img src="" alt="" class="img-product">
      <div class="price">
        <p>2500 ₽</p>
      </div>
      <div class="product-name">
        <p>Запеченая курица с овощами 2 кг.</p>
      </div>
      <div class="add_button"><button class="add">+ Добавить</button></div>
    </article>

    <article class="product-card">
      <img src="" alt="" class="img-product">
      <div class="price">
        <p>2000 ₽</p>
      </div>
      <div class="product-name">
        <p>Жаренная курица с луком 2кг.</p>
      </div>
      <div class="add_button"><button class="add">+ Добавить</button></div>
    </article>
  </div>
</div>
{% endblock %}