:root {
    --margin-1600-LR: 10vw;
    --ico-size-about: 50px;
}

/*Основное тело*/
.main {
    /*font*/
    color: white;
    font-size: 18px;

    width: 100%;

    margin-top: 50px;

    transition: margin-top 0.2s ease-in-out;
}

/*Заголовки*/
h1 {
    margin-left: 20px;
    font-size: 1.5rem;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;

    min-width: 230px;
    font-size: 1.3rem;
}

div>h2 {
    margin-top: 30px;
}

h1,
h2 {
    /*font*/
    font-weight: 400;
    letter-spacing: 3px;
}

/*Окно с информацией*/
div.middle-window {
    display: flex;
    align-items: center;
    margin: 0 var(--margin-1600-LR);
}

/*Стили для карты*/
div.map {
    display: flex;
    flex-direction: column;
}

div.under-map {
    display: flex;
    margin-top: 20px;
    margin: 0 20px;
}

div.map>iframe {
    width: 40vw;
    min-width: 400px;
    height: 45vh;
    min-height: 300px;
    max-height: 350px;

}

/*Время работы, номер телефона, почта и соц.сети*/
div.work-time-window {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: var(--margin-1600-LR);
}

.contact-info {
    display: flex;
    flex-direction: column;
}

.phone,
.mail,
.work-time,
.location,
.metro,
.social-ico {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.metro {
    margin-top: 0;
}

.location {
    max-width: 220px;
}

span.text-info {
    margin: 0 10px;

    font-size: 1rem;
}

/*Стили для иконок*/
main img {
    width: var(--ico-size-about);
}

div.instagram {
    margin-left: 10px;
}

div.social-ico {
    display: flex;
}

/*LANDSCAPE АДАПТАЦИЯ ПО ВЫСОТЕ*/

@media (orientation: landscape) and (max-height: 620px) {
    .main {
        margin-top: 10px;
        transition: margin-top 0.2s ease-in-out;
    }
}

/*LANDSCAPE АДАПТАЦИЯ ПО ШИРИНЕ*/

@media (orientation: landscape) and (max-width: 1060px) {
    .location {
        min-width: 220px;
    }
}

@media (orientation: landscape) and (max-width: 930px) {
    div.middle-window {
        margin: 0 40px;
        justify-content: space-between;
    }

    div.work-time-window {
        margin-left: 40px;
    }

    h2 {
        max-width: none;
    }
}

@media (orientation: landscape) and (max-width: 830px) {

    /*Расположение элементов в среднем листе в колонку*/
    div.middle-window {
        display: flex;
        flex-direction: column;
        padding: 0 50px;
    }

    /*Адаптация карты под ширину экрана*/
    div.map>iframe {
        max-width: none;
        width: 80vw;
    }

    /*Создание фона и общих границ для инфо-окна в целом*/
    div.work-time-window {
        margin: 30px 0 50px 0;
        padding: 20px;

        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;

        border-radius: 50px;

        background-color: rgba(34, 37, 37, 0.575);
    }

    /*Убирание отступов у заголовков*/
    div>h2 {
        margin: 0;
    }

    /*Настройка заголовка контейнера инфо-времени*/
    div.time-container>h2 {
        min-width: 0;
    }

    /*Настройка поведения вложенных инфо-контейнеров*/
    .contacts-container,
    .social-container,
    .time-container {
        flex: 1 0 100px;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /*Создание границ у вложенных инфо-контейнеров*/
    .contacts-container,
    .social-container,
    .time-container {
        padding: 7px;
        margin: 7px;
        border: 1px solid whitesmoke;
        border-radius: 20px;

        background-color: rgba(65, 70, 70, 0.575);


    }
}

@media (orientation: landscape) and (max-width: 760px) {

    /*Выравнивание инфо-контейнеров в столбик по центру*/
    div.work-time-window {
        flex-direction: column;
    }

    .contacts-container,
    .social-container,
    .time-container {
        flex: none;
    }
}

@media (orientation: landscape) and (max-width: 620px) {

    /*Добавить отступ сверху для панели навигации*/
    .main {
        margin-top: 130px;
    }

    /*Убрать отступы у тела для центрирования*/
    div.middle-window {
        margin: 0;
        padding: 0;
    }

    /*Центрировать тело*/
    div.map {
        justify-content: center;
    }

    /*Убрать центрирование у заголовка*/
    h1 {
        align-self: left;
    }
}

/*ПОРТРЕТНАЯ ОРИЕНТАЦИЯ*/

@media (orientation:portrait) {

    /*Добавить отступ сверху для панели навигации*/
    main.main {
        margin-top: 150px;
    }

    /*Расположение элементов в среднем листе в колонку*/
    div.middle-window {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    /*Адаптация карты под ширину экрана*/
    div.map>iframe {
        max-width: none;
        width: 80vw;
    }

    /*Создание фона и общих границ для инфо-окна в целом*/
    div.work-time-window {
        margin: 30px 0 50px 0;
        padding: 20px;

        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;

        border-radius: 50px;

        background-color: rgba(34, 37, 37, 0.575);
    }

    /*Адаптировать заголовок под мобильные устройства*/
    h1 {
        font-size: 1.2rem;
        margin-left: 20px;
        max-width: 300px;
    }

    /*Убирание отступов у заголовков*/
    div>h2 {
        font-size: 1rem;
        margin: 0;
        letter-spacing: 2px;
        min-width: 0;
    }

    span.text-info {
        font-size: 0.8rem;
    }

    /*Настройка заголовка контейнера инфо-времени*/
    div.time-container>h2 {
        min-width: 0;
    }

    /*Настройка поведения вложенных инфо-контейнеров*/
    .contacts-container,
    .social-container,
    .time-container {
        flex: 1 0 100px;

        display: flex;
        flex-direction: column;
        align-items: center;

        /*Создание границ у вложенных инфо-контейнеров*/

        padding: 7px;
        margin: 7px;
        border: 1px solid whitesmoke;
        border-radius: 20px;

        background-color: rgba(65, 70, 70, 0.575);
    }
}

@media (orientation:portrait) and (max-width: 560px) {

    /*Выравнивание инфо-контейнеров в столбик по центру*/
    div.work-time-window {
        flex-direction: column;
    }

    .contacts-container,
    .social-container,
    .time-container {
        flex: none;
    }

    /*убрать границы от краёв экрана у тела*/
    main>div.middle-window {
        padding: 0;
        margin: 0;
    }

    /*Центрировать карту*/
    .middle-window>div.map>iframe {
        width: 90vw;
        min-width: 0;
        align-self: center;
    }
}

@media (orientation:portrait) and (max-width: 450px) {

    /*Ограничить размер заголовка*/
    h1 {
        max-width: 300px;
    }

    /*добавить отступы для напсей адреса*/
    div.under-map {
        margin: 0 18px;
    }

    /*Убрать отступ у надписи метро*/
    div.metro {
        margin: 0;
    }
}

@media (orientation:portrait) and (max-width: 350px) {

    /*выровнять адрес под картой*/
    div.under-map {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 15vw;
    }
}
